* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-family: arial;
    height: 100%;
    width: 100%;
    color: #33739C;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    height: 40px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #33739C;
    color: white;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    max-height: 4em;
    overflow: hidden;
    padding-bottom: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: max-content;
    line-height: 4em;
}

nav ul li {
    margin-left: 5px;
    padding: 0 3%;
}

nav ul li:hover {
    font-weight: bold;
    border-bottom: solid 2px white;
}

nav a {
    text-decoration: none;
    color: white;
}

.keypad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.search-input {
    height: 2.5em;
    width: 33vw;
    border: 2px solid #9599bd;
    border-radius: 4px;
}

.export-import {
    display: flex;
    flex-direction: row;
}

.download-button,
.plus-button {
    background: transparent;
    border: 2px solid #33739C;
    border-radius: 4px;
    color: #33739C;
    height: 2.5em;
    width: 14vw;
    display: block;
    margin-left: 5px;
}

button:hover {
    background: #33739C;
    color: white;
    font-weight: bolder;
}

input {
    height: 2.5em;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;
}

label {
    margin-top: 10px;
    margin-left: 20px;
}

select {
    height: 2.5em;
    width: 14vw;
    margin-top: 8px;
}

.search-section img {
    width: 22px;
    position: absolute;
    z-index: 10;
}

.lupa-img {
    margin-top: 15px;
    margin-left: 9px;
    z-index: 1;
}

.expand-options-img {
    margin-left: -38px;
    margin-top: 14px;
}

.more-options {
    border: 1px solid #33739C;
    margin-top: 5px;
    padding: 2% 1%;
    display: none;
}

.header-form,
.tail-form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 25%);
    padding: 1% 5%;
}

.upload-button {
    height: 2.5em;
    width: 17em;
    margin-top: 2%;
    color: #33739C;
    font-weight: bold;
    background: #D9D9D9;
}

.new-contact {
    display: none;
}

.sort-img {
    width: 13px;
    margin-left: 10px;
}

.contacts-table,
.projects-table {
    padding: 1% 1%;
    border: solid 1px #9599bd;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

.contacts-grid,
.projects-grid {
    display: grid;
    grid-template-columns: 4% repeat(7, 15%);
    grid-template-rows: 1fr;
    align-items: center;
}

.contacts-grid p.principal-text,
.projects-grid p.principal-text {
    color: #2C719C;
}

.contacts-grid p.secondary-text,
.projects-grid p.secondary-text {
    color: #9599bd;
}

.contact-table-header,
.project-table-header {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
}

.contact-table-row,
.project-table-row {
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
    padding: 0 5%;
}

.contact-table-row img,
.project-table-row img {
    width: 20px;
    margin-left: 8px;
}

.project-table-row li {
    list-style: none;
    color: #2C719C;
}

.select-column {
    margin-left: 15px;
}

.selected {
    background: #58E8D2;
}

.progress {
    display: flex;
    flex-direction: row;
}

progress {
    width: 125px;
    height: 12px;
    background: #dfdcdc;
    margin-left: 9px;
    border-radius: 35px;
}

.pages-displayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0;
}

.add-rows {
    display: flex;
    flex-direction: row;
}

.add-rows img {
    width: 15px;
    margin-left: 10px;
    color: #9599bd;
}

.selected-contacts,
.selected-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.selected-contacts img,
.selected-projects img {
    width: 15px;
    margin-right: 5px;
}

.selected-contacts button,
.selected-projects button {
    background: #58E8D2;
    color: #2C719C;
    padding: 0 1%;
    border: #2C719C solid 2px;
    height: 30px;
}

.delete-contacts,
.delete-projects {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.add-project {
    padding: 2% 5%;
    display: flex;
    justify-content: flex-end;
}

.project-view {
    padding: 1% 5%;
    border: 1px solid;
    margin-left: 5%;
    margin: 5%;
    font-size: 20px;
}

.authors-list-project {
    display: flex;
    flex-direction: row;
}

.authors-list-project li {
    margin-left: 3px;
}

.project-view article {
    margin-top: 20px;
}

.project-view-header h3 {
    text-align: center;
    margin-bottom: 15px;
}

.authors-list-project {
    justify-content: center;
}